<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>图书馆管理系统</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.ben.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ben.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailServlet</display-name>
    <servlet-name>BookDetailServlet</servlet-name>
    <servlet-class>com.ben.servlet.BookDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailServlet</servlet-name>
    <url-pattern>/BookDetailServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodeFilter</display-name>
    <filter-name>CodeFilter</filter-name>
    <filter-class>com.ben.filters.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PageFilter</display-name>
    <filter-name>PageFilter</filter-name>
    <filter-class>com.ben.filters.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>/view/share/page/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.ben.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserBorrowBookServlet</display-name>
    <servlet-name>ListUserBorrowBookServlet</servlet-name>
    <servlet-class>com.ben.servlet.ListUserBorrowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserBorrowBookServlet</servlet-name>
    <url-pattern>/ListUserBorrowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ben.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowServlet</display-name>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>com.ben.servlet.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>/BorrowServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.ben.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/view/share/users/login.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StateServlet</display-name>
    <servlet-name>StateServlet</servlet-name>
    <servlet-class>com.ben.servlet.StateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServlet</servlet-name>
    <url-pattern>/StateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.ben.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.ben.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/view/share/admin/admindo.jsp</url-pattern>
  </filter-mapping>
</web-app>